---
import BlogCard from "@/components/cards/blog-card.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { getPosts } from "@/lib/fetchers";

const posts = await getPosts();
---

<MainLayout title="Blog" description="Lorem ipsum dolor sit amet">
  <section class="f-container py-12">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-20"
    >
      {posts.map((post) => <BlogCard {...post} />)}
    </div>
  </section>
</MainLayout>
