---
import MainLayout from "@/layouts/main-layout.astro";
import { getPosts } from "@/lib/fetchers";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = await getPosts();
---

<MainLayout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
  <section class="f-container">
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <img
                width={720}
                height={360}
                src={post.data.heroImage}
                alt=""
                transition:name={"img-" + post.data.title}
              />
              <h4
                class="font-heading"
                transition:name={"title-" + post.data.title}
              >
                {post.data.title}
              </h4>
              <p class="date" transition:name={"date-" + post.data.title}>
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
