---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<footer class={cn(className, "border-t")}>
  <div
    class="container flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0"
  >
    <div
      class="flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0"
    >
      <a href="/" aria-label="Astronomy homepage">
        <Icon name="stars-outline" class="size-8" />
      </a>

      <p class="text-center text-sm leading-loose md:text-left balance-text">
        Built by{" "}
        <a
          href={siteConfig.links.twitter}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          mickasmt
        </a>
        . Based on{" "}
        <a
          href="https://github.com/shadcn-ui/taxonomy"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          shadcn-ui/taxonomy
        </a>
        . Hosted on{" "}
        <a
          href="https://vercel.com"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          Vercel
        </a>
        . The source code is available on{" "}
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          GitHub
        </a>
        .
      </p>
    </div>
  </div>
</footer>
