---
import { cn } from "@/lib/utils";
import MainNav from "./main-nav.astro";

import type { MainNavItem } from "@/types";

type Props = {
  items: MainNavItem[];
  className?: string;
};

const { items, className } = Astro.props;
---

<header
  class={cn(
    "flex items-center h-18 z-50 sticky top-0 bg-background",
    className
  )}
>
  <nav class="container flex items-center justify-between w-full">
    <MainNav items={items} />

    <slot />
  </nav>
</header>
