---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<header
  class={cn(
    "flex items-center h-16 md:h-18 z-50 sticky top-0 bg-background",
    className
  )}
>
  <div class="relative container flex items-center justify-between w-full">
    <div class="flex items-center gap-6 md:gap-8 lg:gap-10">
      <a href="/" class="hidden items-center space-x-2 md:flex">
        <Icon name="stars-outline" class="size-8" />
        <span class="hidden font-bold sm:inline-block">
          {siteConfig.name}
        </span>
      </a>

      <slot name="mobile-nav-header" />

      <div class="hidden md:flex">
        <slot name="left-header" />
      </div>
    </div>

    <!-- logo mobile center -->
    <div
      class="absolute top-1/2 left-1/2 -translate-x-4 -translate-y-4 md:hidden"
    >
      <a href="/" aria-label="Astronomy homepage">
        <Icon name="stars-outline" class="size-8" />
      </a>
    </div>

    <slot name="right-header" />
  </div>
</header>
