---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import type { MainNavItem } from "@/types";
import { Icon } from "astro-icon";

type Props = {
  items: MainNavItem[];
};

const { items } = Astro.props;
const { pathname } = Astro.url;
---

<div class="flex items-center gap-6 md:gap-10">
  <a href="/" class="flex items-center space-x-2.5">
    <Icon name="ic:round-rocket-launch" class="h-6 w-6" />
    <span class="hidden font-bold sm:inline-block">
      {siteConfig.name}
    </span>
  </a>

  {
    items?.length ? (
      <nav class="hidden gap-6 md:flex text-sm">
        {items?.map((item) => (
          <a
            href={item.disabled ? "#" : item.href}
            class={cn(
              "flex items-center font-medium transition-colors hover:text-foreground/80",
              item.href == pathname ? "text-foreground" : "text-foreground/60",
              item.disabled && "cursor-not-allowed opacity-80"
            )}
          >
            {item.title}
          </a>
        ))}
      </nav>
    ) : null
  }
</div>
