---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/config/site";
---

<section class="space-y-6 py-12 sm:py-20 lg:py-20">
  <div class="container flex max-w-5xl flex-col items-center gap-5 text-center">
    <a
      href="https://twitter.com/miickasmt"
      class={cn(
        buttonVariants({ variant: "outline", size: "sm", rounded: "full" }),
        "px-4"
      )}
      target="_blank"
    >
      <span class="mr-3">🎉</span> Introducing on{" "}
      <Icon name="twitter" class="ml-2 size-3.5" />
    </a>

    <h1
      class="text-balance font-heading text-4xl sm:text-5xl md:text-6xl lg:text-[66px]"
    >
      Kick off with a bang with{" "}
      <span class="text-gradient_indigo-purple font-extrabold">
        SaaS Starter
      </span>
    </h1>

    <p
      class="max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xl sm:leading-8"
    >
      Build your next project using Next.js 14, Prisma, Planetscale, Auth.js v5,
      Resend, React Email, Shadcn/ui, Stripe.
    </p>

    <div class="flex justify-center space-x-2 md:space-x-4">
      <a
        href="/pricing"
        class={cn(buttonVariants({ size: "lg", rounded: "full" }), "gap-2")}
      >
        <span>Go Pricing</span>
        <Icon name="lucide:arrow-right" class="size-4" />
      </a>
      <a
        href={siteConfig.links.github}
        target="_blank"
        rel="noreferrer"
        class={cn(
          buttonVariants({
            variant: "outline",
            size: "lg",
            rounded: "full",
          }),
          "px-5"
        )}
      >
        <Icon name="github" class="mr-2 size-4" />
        <p>
          <span class="hidden sm:inline-block">Star on</span> GitHub{" "}
          <!-- <span class="font-semibold">{nFormatter(stars)}</span> -->
        </p>
      </a>
    </div>
  </div>
</section>
