---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  mainClass="container py-10"
>
<section
id="features"
class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24"
>
<div
  class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
>
    <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">Astromony</h2>
    <p class="leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text">
      This project is an experiment to see how a modern application with features such as authentication, signatures, API routes, Markdown, and content collections, would work in Astro 3.0    </p>
    </p>
  </div>
  </section>
</MainLayout>
