---
import PageHeader from "@/components/page-header.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { formatDate } from "@/lib/utils";
import { getCollection } from "astro:content";

const posts = await getCollection("releases");
posts.sort((a, b) => +b.data.date - +a.data.date);
---

<MainLayout title="Changelog">
  <section class="container space-y-6 py-12">
    <PageHeader
      heading="Changelog"
      text="Differents pages and examples apps built with Astro v4.5, shadcn/ui & react js. Open Source."
    />

    <ul class="posts" transition:name="post">
      {
        posts.map((post) => (
          <li class="post">
            <div class="version_wrapper">
              <div class="version_info">
                <a href={`/releases/${post.slug}`}>
                  <div class="version_number">{post.data.versionNumber}</div>
                  {formatDate(post.data.date)}
                </a>
              </div>
            </div>
            <div class="content">
              {post.render().then(({ Content }) => (
                <Content />
              ))}
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
