---
import FaqSection from "@/components/faq-section";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="FAQ"
  description="Frequently Asked Questions"
  mainClass="min-h-screen container max-w-screen-md py-10"
>
  <section>
    <div class="space-y-6 text-center mb-14">
      <h1 class="font-heading text-4xl text-center">
        Frequently Asked Questions
      </h1>
      <p class="text-muted-foreground text-md">
        Explore our comprehensive FAQ to find quick answers to common inquiries.
        If you need further assistance, don't hesitate to contact our support
        team for personalized help.
      </p>
    </div>

    <FaqSection client:load />
  </section>
</MainLayout>
