---
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout
	title="FAQ"
	description="Frequently Asked Questions">
<main class="container">
      <article>
        <main class="mx-auto max-w-3xl border shadow-md px-12 py-8 mt-8 rounded-lg">
          <h1 class="pt-2 pb-8 text-center text-4xl font-bold">Frequently Asked Questions</h1>
        
          <section class="grid grid-cols-1 gap-y-3 divide-y">
            <details open class="group py-1 text-lg">
              <summary class="flex cursor-pointer flex-row items-center justify-between py-1 font-semibold text-gray-800 marker:[font-size:0px]">
                What is the brigtest star of the night sky?
                <svg class="h-6 w-6 rotate-0 transform text-gray-400 duration-300 ease-out

 group-open:rotate-180 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                </svg>
              </summary>
              <p class="text-black">Sirius is the brightest star in the night sky. Its name is derived from the Greek word Σείριος (Latin script: Seirios), meaning lit. 'glowing' or 'scorching'. The star is designated α Canis Majoris, Latinized to Alpha Canis Majoris, and abbreviated α CMa or Alpha CMa. With a visual apparent magnitude of −1.46, Sirius is almost twice as bright as Canopus, the next brightest star. <a  class="text-blue-700" target="_blank" href="https://en.wikipedia.org/wiki/Sirius">Sirius</a> is a binary star consisting of a main-sequence star of spectral type A0 or A1, termed Sirius A, and a faint white dwarf companion of spectral type DA2, termed Sirius B. The distance between the two varies between 8.2 and 31.5 astronomical units as they orbit every 50 years.</p>
            </details>
        
            <details class="group py-1 text-lg">
              <summary class="flex cursor-pointer flex-row items-center justify-between py-1 font-semibold text-gray-800 marker:[font-size:0px]">
                Do good intentions justify bad actions?
                <svg class="h-6 w-6 rotate-0 transform text-gray-400 group-open:rotate-180 duration-300 ease-out

" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                </svg>
              </summary>
              <p class="text-indigo-900">Good intentions can justify bad actions, 
                provided the following conditions are met. <b>First</b>, the intentions 
                are really good and the actions really bad, not mistakenly believed to 
              be good and bad.</p>
              <p class="text-slate-600">
              <b>Second</b>, the intentions and actions are based on true beliefs about the relevant facts in the context.</p>
               <p class="text-slate-700"><b>Third</b>, the actions are bad, but not evil,
              because they do not involve a pattern of violation of the minimum
              requirements of the human good that affect many people. Fourth,
              the priority given to the evaluation of the goodness of intentions and
              the badness of the actions is justified by showing that the balance of
              reasons favors it. <b>These conditions are not easily met.</b></p>
                  <hr class="mx-auto w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

              <p class="text-sm">source: John Kekes - <b>Facing the problems of life</b>; Oxford University Press 2019. page 261.</p>
            </details>
        
            <details class="group py-1 text-lg">
              <summary class="flex cursor-pointer flex-row items-center justify-between py-1 font-semibold text-gray-800 marker:[font-size:0px]">
                Why does the moon sometimes look orange?
                <svg class="h-6 w-6 rotate-0 transform text-gray-400 group-open:rotate-180 duration-300 ease-out

" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                </svg>
              </summary>
              <p class="text-orange-500">
The full moon sometimes looks orange when it rises because the light has to travel through more of the atmosphere than when the moon is high in the sky. The blue light waves scatter but the red light waves make it through...

...just in case you were wondering.</p>
            </details>
          </section>
        
        </main>
        
      </article>
</main>
</MainLayout>
