---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
---

<MainLayout title="Astronomy">
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    >
      <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
      >
        A modern blog using 
        <span class="text-gradient_indigo-purple">
          Astro v4 <span class="font-sans font-bold">+</span> shadcn<span
            class="font-sans font-bold">/</span
          >ui.
        </span>
      </h1>

      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance"
      >
        A place to share my thoughts.
      </p>

      <div class="flex justify-center space-x-2 md:space-x-4">
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          class={cn(buttonVariants({ variant: "outline", size: "lg" }), "px-4")}
        >
          <Icon name="github" class="mr-2 size-5" />
           Github
        </a>
      </div>
    </div>
  </section>

</MainLayout>
