---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="Login"
  description="Lorem ipsum dolor sit amet consectetur adipisicing elit."
>
  <div class="container py-10">Login</div>
</MainLayout>
