---
import UserAuthForm from "@/components/forms/user-auth-form.astro";
import { buttonVariants } from "@/components/ui/button";
import AuthLayout from "@/layouts/auth-layout.astro";
import { cn } from "@/lib/utils";
---

<AuthLayout title="Register" description="Register">
  <a
    href="/login"
    slot="right-corner"
    class={cn(buttonVariants({ variant: "ghost" }))}
  >
    Login
  </a>

  
  <div class="mx-auto flex w-full flex-col justify-center space-y-6 sm:w-96">
    <div class="flex flex-col space-y-2 text-center">
      <h1 class="text-2xl font-semibold tracking-tight">Create an account</h1>
      <p class="text-sm text-muted-foreground">
        Enter your email below to create your account
      </p>
    </div>
    
    <UserAuthForm />
    
    <p class="px-8 text-center text-sm text-muted-foreground">
      By clicking continue, you agree to our{" "}
      <a href="/terms" class="underline underline-offset-4 hover:text-primary">
        Terms of Service
      </a>{" "}
       and{" "}
      <a
        href="/privacy"
        class="underline underline-offset-4 hover:text-primary"
      >
        Privacy Policy
      </a>
       .
    </p>
  </div>
</AuthLayout>
