---
import MainLayout from "@/layouts/main-layout.astro";
import { WaitlistForm } from "@/components/forms/waitlist-form";
import { Icon } from "astro-icon/components";
---

<MainLayout
  title="Waitlist"
  description="A waiting list page with form using Astro DB."
  mainClass="bg-background-200"
>
  <div class="relative flex w-full min-h-svh items-center justify-center">
    <div
      class="px-4 py-5 sm:p-6 bg-background border rounded-xl overflow-hidden -mt-36"
    >
      <div class="flex flex-col gap-y-4 w-full max-w-sm">
        <div class="space-y-3">
          <Icon name="stars-outline" class="size-10" />
          <h1 class="text-2xl font-heading tracking-wide">Get early access!</h1>
          <p class="text-sm text-muted-foreground">
            Excited to join the waitlist?
            <br />
            Fill out the form below to secure your spot and be the first to know
            when we launch!
            <br />
            Check <a href="/newsletter" class="underline">here</a> for a form with
            counter.
          </p>
        </div>

        <WaitlistForm client:load />
      </div>
    </div>
  </div>
</MainLayout>
