---
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/main-layout.astro";
import { cn, formatDate } from "@/lib/utils";
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const releases = await getCollection("releases");

  return releases.map((release) => ({
    params: { slug: release.slug },
    props: { release },
  }));
}

const { release } = Astro.props;
const { Content } = await release.render();
---

<MainLayout title={release.data.title}>
  <section class="container max-w-screen-lg pt-12">
    <div
      class="flex flex-col max-md:gap-y-4 md:flex-row w-full">
      <div class="md:basis-32 lg:basis-56 shrink-0 grow-0">
        <div class="flex md:sticky md:top-24 w-auto mr-6">
          <div class="flex flex-col gap-y-2 pb-4">
            <button
              onclick="history.back()"
              class={cn(
                buttonVariants({ variant: "ghost" }),
                "text-muted-foreground mb-5"
              )}
              transition:animate="slide"
            >
              <Icon name="lucide:chevron-left" class="mr-2 size-4" />
              {" "}Back
            </button>
            <Badge
              variant="default"
              radius="lg"
              className="w-14 h-7 justify-center text-md bg_release_version text-white"
            >
              {release.data.versionNumber}
            </Badge>
            <span class="text-sm text-muted-foreground">
              {formatDate(release.data.date)}
            </span>
          </div>
        </div>
      </div>

      <div
        class="prose dark:prose-invert prose-img:rounded-3xl max-w-none w-full pb-24"
      >
        <Content />
      </div>
    </div>
  </section>
</MainLayout>
