---
import { buttonVariants } from "@/components/ui/button";
import { getCategories } from "@/lib/fetchers";
import { cn } from "@/lib/utils";

const categories = await getCategories();

type Props = {
  title: string;
};

const { title } = Astro.props;
const { category } = Astro.params;
---

<h1 class="inline-block font-heading text-4xl">{title}</h1>

<div
  class="flex max-md:flex-col items-start md:items-center justify-between my-6 max-md:gap-3"
>
  <span
    class="flex items-center w-full md:max-w-sm h-10 rounded-md px-3 border text-muted-foreground"
    >Search (coming soon)</span
  >

  <ul class="flex items-center max-md:w-full space-x-2 md:space-x-3">
    {
      categories.map((item) => (
        <a
          href={`/blog/category/${item}`}
          class={cn(
            "capitalize",
            item === category ? "select-none" : "",
            buttonVariants({
              variant: item === category ? "default" : "outline",
              size: "sm",
            })
          )}
        >
          {item}
        </a>
      ))
    }
  </ul>
</div>

<hr class="mb-8" />
