---
import { buttonVariants } from "@/components/ui/button";
import { getCategories } from "@/lib/fetchers";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
import { Input } from "./ui/input";

const categories = await getCategories();

type Props = {
  title: string;
};

const { title } = Astro.props;
const { category } = Astro.params;
---

<h1 class="inline-block font-heading text-4xl">{title}</h1>

<div
  class="flex items-start justify-between my-6 max-md:gap-4"
>
  <span class="lg:w-full max-w-xs relative">
    <Input type="text" placeholder="Search" className="pl-10" />
    <Icon name="ri:search-line" class="h-5 w-5 text-gray-400 absolute top-1/2 left-2 transform -translate-y-1/2" />
  </span>

  <div class="relative">
    </div>
  

  {
    categories?.length ? (
      <ul class="flex snap-x snap-mandatory overflow-auto items-center space-x-2 lg:space-x-2.5 pb-2">
        <li class="flex-shrink-0 snap-start">
          <a
            href={`/blog`}
            class={cn(
              !category ? "select-none" : "",
              buttonVariants({
                variant: !category ? "default" : "outline"
              })
            )}
          >
            All posts
          </a>
        </li>
        {categories.map((item) => (
          <li class="flex-shrink-0 snap-start">
            <a
              href={`/blog/category/${item}`}
              class={cn(
                "capitalize",
                item === category ? "select-none" : "",
                buttonVariants({
                  variant: item === category ? "default" : "outline"
                })
              )}
            >
              {item}
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <div />
    )
  }
</div>

<hr class="mb-7" />
