---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<a href="/" class={cn("flex items-center space-x-2", className)}>
  <Icon name="stars-outline" class="h-8 w-8" />
  <span class="font-bold"> <!-- hidden font-bold sm:inline-block -->
    {siteConfig.name}
  </span>
</a>
