---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Changelog">
  <section class="space-y-6 pb-12 pt-16 lg:py-20">
    <div class="container flex max-w-[64rem] flex-col gap-5">Changelog</div>
  </section>
</MainLayout>
