---
import { siteConfig } from "@/config/site";
import { Icon } from "astro-icon/components";
import BaseLayout from "./base-layout.astro";
import { ThemeToggle } from "@/components/theme-toggle";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div
    class="container relative flex min-h-screen flex-col items-center justify-center md:grid lg:max-w-none lg:grid-cols-2 lg:px-0"
  >
    <div class="absolute right-4 top-4 md:right-8 md:top-8">
      <slot name="right-corner" />
    </div>

    <div class="absolute right-8 bottom-4 md:right-12 md:bottom-8">
      <ThemeToggle client:idle />
    </div>

    <div
      class="relative hidden h-full flex-col bg-muted p-10 text-white dark:border-r lg:flex"
    >
      <div class="absolute inset-0 bg-foreground dark:bg-background/50"></div>
      <div class="relative z-20 flex items-center text-lg font-medium">
        <a href="/" class="hidden items-center space-x-2 md:flex">
          <Icon name="stars-outline" class="size-8" />
          <span class="hidden font-bold sm:inline-block">
            {siteConfig.name}
          </span>
        </a>
      </div>

      <div class="relative z-20 mt-auto">
        <blockquote class="space-y-2">
          <p class="text-lg">
            &ldquo;This library has saved me countless hours of work and helped
            me deliver stunning designs to my clients faster than ever
            before.&rdquo;
          </p>
          <footer class="text-sm">Sofia Davis</footer>
        </blockquote>
      </div>
    </div>

    <div class="md:p-8">
      <slot />
    </div>
  </div>
</BaseLayout>
