---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import { MainNavigationMenu } from "@/components/main-navigation-menu";
import { siteConfig } from "@/config/site";
import { Icon } from "astro-icon/components";
import BaseLayout from "./base-layout.astro";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import { navMenuConfig } from "@/config/nav-menu";
import { docsConfig } from "@/config/docs";
import { ThemeToggle } from "@/components/theme-toggle";
// import MainNav from "@/components/layout/main-nav.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header className="border-b">
    <!-- if using only normals links  -->
    <!-- <MainNav items={docsConfig.mainNav} slot="left-header" />
    <SheetMobileNav
      mainNavItems={[...docsConfig.mainNav]}
      sidebarNavItems={[...docsConfig.sidebarNav]}
      slot="mobile-nav-header"
      client:load
    /> -->

    <!-- if use Navigation Menu on desktop -->
    <MainNavigationMenu slot="left-header" client:load />
    <SheetMobileNav
      mainNavItems={[...navMenuConfig.links]}
      sidebarNavItems={[
        ...navMenuConfig.pagesNav,
        ...navMenuConfig.examplesNav,
        ...docsConfig.sidebarNav,
      ]}
      slot="mobile-nav-header"
      client:load
    />

    <div class="flex items-center gap-x-4" slot="right-header">
      <div
        class="flex items-center w-auto lg:w-60 h-10 rounded-md px-2 lg:px-3 border text-muted-foreground"
      >
        <Icon name="ri:search-line" class="size-5" />
        <span class="text-sm ml-2 hidden lg:flex">Search (coming soon)</span>
      </div>

      <a
        href={siteConfig.links.github}
        target="_blank"
        rel="noreferrer"
        aria-label="github"
      >
        <Icon name="github" class="size-[22px]" />
      </a>

      <ThemeToggle client:load />
    </div>
  </Header>

  <slot />

  <Footer className="border-t" />
</BaseLayout>
