---
import BaseHead from "@/components/layout/base-head.astro";
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import TailwindIndicator from "@/components/tailwind-indicator.astro";
import { docsConfig } from "@/config/docs";
import { cn } from "@/lib/utils";

type Props = {
  title: string;
  description: string;
  className?: string;
};

const { title, description, className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <Header items={docsConfig.mainNav} />

    <main class={cn(className)}>
      <slot />
    </main>

    <Footer />
    <TailwindIndicator />
  </body>
</html>
