---
import BaseHead from "@/components/layout/base-head.astro";
import Footer from "@/components/layout/footer.astro";
import MainNav from "@/components/layout/main-nav.astro";
import TailwindIndicator from "@/components/tailwind-indicator.astro";
import { buttonVariants } from "@/components/ui/button";
import { docsConfig } from "@/config/docs";
import { cn } from "@/lib/utils";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <header class="f-container h-20 z-50 sticky top-0 bg-background">
      <nav class="flex items-center justify-between py-6">
        <div class="flex items-start gap-6 md:gap-10">
          <MainNav items={docsConfig.mainNav} />
        </div>
      </nav>
    </header>

    <main>
      <slot />
    </main>
    
    <Footer />
    <TailwindIndicator />
  </body>
</html>
