---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import { buttonVariants } from "@/components/ui/button";
import { docsConfig } from "@/config/docs";
import { cn } from "@/lib/utils";
import BaseLayout from "./base-layout.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header items={docsConfig.mainNav} className="border-b">
    <div>
      <a
        href="/login"
        class={cn(buttonVariants({ variant: "secondary", size: "sm" }), "px-4")}
      >
        Login
      </a>
    </div>
  </Header>

  <slot />

  <Footer className="border-t" />
</BaseLayout>
