---
import BaseHead from "@/components/layout/base-head.astro";
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import TailwindIndicator from "@/components/tailwind-indicator.astro";
import { buttonVariants } from "@/components/ui/button";
import { marketingConfig } from "@/config/marketing";
import { cn } from "@/lib/utils";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <Header items={marketingConfig.mainNav}>
      <div>
        <a
          href="/login"
          class={cn(
            buttonVariants({ variant: "secondary", size: "sm" }),
            "px-4"
          )}
        >
          Login
        </a>
      </div>
    </Header>

    <main>
      <slot />
    </main>

    <Footer />
    <TailwindIndicator />
  </body>
</html>
